SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://20.0.5.83:3306/jw_registry?useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=back
SPRING_DATASOURCE_PASSWORD=root
JPA_DDL_AUTO=update
APP_CORS_ALLOWED_ORIGINS=https://johnwick.lol
DB_MAX_POOL_SIZE=10
DB_MIN_IDLE=2
